<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite thread-count="3" name="LambaTestSuite" parallel="tests">

	<test name="Test3">
 
    <classes>
      <class name="com.charityData.testCases.Test3.java" />
		
    </classes>
      </test>
      
      <test name="Test3">
    
    <classes>
      <class name="com.charityData.testCases.Test3.java" />
		
    </classes>
      </test>
</suite>